.Button--round {
  border-radius: 999em;
}

.Panel--flex .Panel__in {
  display: flex;
  flex-direction: column;
}

.Div {
  user-select: none;
}

.Panel--flex .Div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (min-width: 374px) {
  .Div--android,
  .Div--ios {
    padding: 12px 24px;
  }
}

.Person {
  flex-shrink: 0;
  background-image: url('../assets/Evolve.png');
  background-size: 96% auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

@media (min-width: 374px) {
  .Person {
    margin-bottom: 64px;
  }
}

.Person__image {
  display: block;
  width: 100%;
  height: auto;
}

.Title {
  color: var(--app-primary);
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-weight: bold;
  margin: 0 0 12px 0;
}

@media (min-width: 358px) {
  .Title--xl {
    font-size: 38px;
    font-weight: 900;
  }
}

.Text {
  color: var(--app-secondary);
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-weight: bold;
}

.CategoryGrid {
  position: relative;
  width: 100%;
  height: 0;
  flex-shrink: 0;
  padding-bottom: 100%;
  border-radius: 12px;
  background-color: var(--app-primary-dense);
  overflow: hidden;
  margin: 12px 0;
}

.CategoryGrid__lock {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;

  border-radius: 10px;

  background-color: var(--app-primary-background);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  white-space: nowrap;

  color: var(--app-primary-dense);
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-weight: bold;

  padding-top: 48px;
}

.Lock {
  margin-bottom: 12px;
}

.CategoryGrid__item {
  position: absolute;
  background-color: var(--app-primary-background);
  width: calc(50% - 6px);
  height: calc(50% - 6px);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.CategoryGrid__item:nth-child(1) {
  top: 4px;
  left: 4px;
  border-top-left-radius: 10px;
}

.CategoryGrid__item:nth-child(2) {
  top: 4px;
  right: 4px;
  border-top-right-radius: 10px;
}

.CategoryGrid__item:nth-child(3) {
  bottom: 4px;
  left: 4px;
  border-bottom-left-radius: 10px;
}

.CategoryGrid__item:nth-child(4) {
  bottom: 4px;
  right: 4px;
  border-bottom-right-radius: 10px;
}

.CategoryGrid__item span {
  color: var(--app-primary);
  font-size: 38px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin: 0;
  display: block;
  height: 57px;
  width: 57px;
  text-align: center;
}

.CategoryGrid__item img {
  display: block;
  width: 100%;
  height: 100%;
}

.CategoryAnswers {
  margin-top: 64px;
}

.CategoryResult {
  margin: 12px 0;
  width: 100%;
  height: 0;
  flex-shrink: 0;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
}

.CategoryResult span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;

  font-weight: 900;
  font-size: 80px;
  letter-spacing: 0.01em;
  color: var(--app-primary);
}

.CategoryResult img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.FactBanner {
  width: 100%;
  background-color: var(--app-primary-background);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  padding: 24px;
  margin: 12px -24px;
}

.FactBanner__image {
  width: 84px;
  height: 84px;

  display: block;
  border-radius: 50%;

  border: 4px solid var(--app-primary-background);
  box-shadow: 0 0 0 4px var(--app-primary);

  margin: 4px;

  flex-shrink: 0;
  flex-grow: 0;
}

.FactBanner__desc {
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--app-primary);
  margin-left: 12px;
  min-width: 0;
}

.Friends {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.Friends__desc {
  color: var(--app-secondary);

  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-weight: bold;

  flex-shrink: 1;
  min-width: 0;
}

.Friends__image {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;

  margin-left: 12px;
  padding-right: 16px;

  width: 106px;
  flex-shrink: 0;
}

.Friends__image img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;

  margin-right: -16px;
}

.CategoryGallery {
  margin: 12px -24px;
  width: calc(100% + 48px);
  height: 150px;
}

.Category__title {
  color: var(--app-primary);
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-weight: bold;
  margin: 0 0 12px 0;
  font-size: 38px;
  font-weight: 900;
  padding-left: 24px;
}

.CategoryProgress {
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
}

.CategoryProgress__indicator {
  position: relative;
  width: 90px;
  height: 24px;
  border: 4px solid var(--app-primary);
  border-radius: 999em;
  box-sizing: border-box;
}

.CategoryProgress__fill {
  position: absolute;
  top: -1px;
  left: -1px;
  right: auto;
  bottom: -1px;
  background-color: var(--app-primary);
  border-radius: 999em;
  border-right: 2px solid var(--app-primary);
  box-sizing: content-box;
}

.CategoryProgress__desc {
  color: var(--app-primary-dense);
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.01em;
  font-weight: bold;
  margin-left: 12px;
}

.CategoryGallery .Gallery__slide:nth-child(2) .Category__title {
  color: #134FEA;
}
