.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}

.Root--ios .fade-enter-active,
.Root--ios .fade-exit-active {
  transition: opacity 600ms cubic-bezier(.36, .66, .04, 1) 600ms;
}
.Root--android .fade-enter-active,
.Root--android .fade-exit-active {
  transition: opacity 300ms cubic-bezier(.4, 0, .2, 1) 300ms;
}
