body[scheme] {
  --app-primary: rgb(2, 185, 163);
  --app-primary-background: rgb(229, 248, 246);
  --app-primary-dense: rgb(154, 227, 218);
  --app-secondary: rgb(151, 151, 151);
  --app-font: -apple-system,BlinkMacSystemFont,"San Francisco","SF Pro","Google Sans","Noto Sans",Roboto,"Droid Sans","Open Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Android Emoji",EmojiSymbols,"Segoe UI Emoji";

  --font-common: var(--app-font);
  --font-ios: var(--app-font);
  --font-android: var(--app-font);

  --accent: var(--app-primary);

  --header_background: var(--app-primary);
  --header_text: #FFF;
  --header_tint: #FFF;

  --button_primary_background: var(--app-primary);
}

@import './fade.css';
@import './logo.css';
@import './offline.css';
@import './layout.css';
@import './components.css';
